.MediaPlatform {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 25px;

    @media (max-width: 800px) {
        & {
            justify-content: space-evenly;
        }
    }

    h2 {
        border-left: none;
        padding: 0;
    }
}

.SocialTwitch,
.SocialYouTube {
    display: block;
    width: 150px;
    height: 150px;
    padding: 10px 0px;
    margin: 0px 10px;

    h2 {
        position: relative;
        top: -30%;
        text-align: center;
        font-size: 1.1em;
        margin: 0px 0px 5px;
        overflow: hidden;
        white-space: nowrap;
        border-left: none;
        padding: 5px;
        z-index: 10;

        background-color: var(--bg-color);
    }

    &:hover>img.channel-profile {
        border: 3px solid rgb(36, 149, 255);
    }

    img.channel-profile {
        border-radius: 150px;
        top: 0px;
        position: relative;
        z-index: 1;
        width: inherit;
        border: 3px solid transparent;
    }

    img.icon {
        display: inline-block;
        height: 1em;
        vertical-align: bottom;
        margin-right: 5px;
    }
}
