nav {
    display: flex;
    justify-content: space-between;

    &>div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
    }
}
