* {
    box-sizing: border-box;
}
body {
    background: #000;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
}
a, a:active, a:visited {
    color: #fff;
}
main {
    /* border: 3px #f00 solid; */
    /* border-radius: 15px; */
    padding: 10px;
    margin: 20px 50px;
    /* width: 100%; */
    display: block;
}
footer {
    text-align: center;
}
.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.container:after {
    clear: both;
}
/**
*** Nav
**/
nav {
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 50px;
}
nav ul.menu {
    float: right;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;

    align-items: flex-start;
}
nav ul.menu li {
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 5px;
}
nav ul.menu li:hover {
    background: rgba(66, 66, 66, 0.7);
}
nav ul.menu li a {
    transition: color .2s;
}
nav ul.menu li:hover a {
    color: rgb(224, 56, 56);
}
nav ul.menu li:first-child:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
nav ul.menu li:last-child:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav ul.menu li:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
nav ul.menu li:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
nav a {
    text-decoration: none;
    padding: 10px 5px;
    line-height: 32px;
}
/**
*** Content
**/
article p {
    justify-content: space-between;
    text-align: justify;
}
/**
 * Section
 */

section.blog,
section.social {
    padding: 5px;
}
section.blog {
    width: 70%;
    float: left;
    max-width: 900px;
}
section.blog ul,
section.social ul.twitter {
    padding: 0px;
    list-style: none;
}
section.blog ul li {
    padding: 10px 10px;
    margin-top: 35px;
    background-color: black;
    background-position: 50% 25%;
    background-size: cover;
    box-shadow: inset 0 0 20px #000;
    transition: box-shadow 0.3s;
}
section.blog ul li:hover {
    box-shadow: inset 0 0 10px #000;
}
section.blog ul .readmore {
    width: 100%;
    text-align: right;
    display: block;
    text-decoration: none;
}
section.blog article p {
    margin-top: 0px;
    margin-bottom: 0px;
}
section.blog a.title,
section.blog ul .readmore a,
section.blog article {
    background: rgba(0, 0, 0, 0.75);
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 10px;
}
section.blog ul .readmore {
    margin-top: 10px;
}
section.blog ul .readmore a {
    text-decoration: none;
}
section.social {
    width: 30%;
    float: left;
    max-width: 350px;
}