@media only screen and (max-width: 1300px) {
    main {
        margin: 20px 5px;
    }
}
@media only screen and (max-width: 1025px) {
    section.blog,
    section.social {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    /* body {
        background-color: rgb(99, 57, 57);
    } */
}
@media only screen and (max-width: 500px) {
    /* body {
        background-color: rgb(255, 160, 160);
    } */
}