@media only screen and (max-width: 1300px) {
    nav {
        padding: 15px;
    }
    main {
        margin: 20px 5px;
    }
}
@media only screen and (max-width: 1025px) {
    section.blog,
    section.social {
        float: none;
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    nav label {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
}