section.social ul.twitter li:not(:last-child) {
    border-bottom: 3px red solid;
}
section.social ul.twitter li {
    padding: 10px;
    margin-top: 35px;
}
section.social ul.twitter li:nth-child(odd) {
    background: rgb(160, 76, 76);
}
section.social ul.twitter li:nth-child(even) {
    background: rgb(110, 110, 240);
}