ul.links {
	list-style-image: none;
	padding: 5px;
}
ul.links li {
	display: block;
	border: #303030 1px solid;
	width: 150px;
	height: 150px;
	float: left;
	margin: 5px;
}
ul.links li:hover {
	border: #404040 1px solid;
}
ul.links li a {
	display: block;
	height: 100%;
	background: url("../assets/img/none.png");
}
ul.links li a span {
	background: #303030;
	width: 140;
	display: block;
	padding: 5px;
	overflow-x: hidden;
	position: relative;
	top: 110px;
}
ul.links li a.twitter {
	background: url("../assets/img/twitter.png");
}
ul.links li a.youtube {
	background: url("../assets/img/youtube.png");
}
ul.links li a.steam {
	background: url("../assets/img/steam.png");
}
ul.links li a.github {
	background: url("../assets/img/github.png");
}
ul.links li a.blog {
	background: url("../assets/img/blog.png");
}
